// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  //background-color: $dark-600;
  //background-image: url('../img/rings.svg');
  .logo {
    background-image: url('../img/text.svg');
    text-align: center;
    color: white;
    //height: 20px;
    //background-image: url('../img/text.svg');
    //background-image: url('../img/rings.svg');
    padding-top: 250px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  .intro-text {
    
    //background-image: url('../img/text.svg');
    text-align: left;
    color: $dark-blue;
    //height: 20px;
    //background-image: url('../img/text.svg');
    //background-image: url('../img/rings.svg');
    //padding-top: 50px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-lead-in {
      background-image: url('../img/LOGO_BlackmoreCoaching_RGB_FINAL300.png');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: 200px;
      padding-top: 270px;
      text-align: center;
      font-size: 25px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 500;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
header.masthead::after {
  content: "";
  //background-image: url('../img/services/Einzelcoaching_BlackmoreIcons.svg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 200px;
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: -1; 
}

@media(min-width:768px) {
  header.masthead {
    .logo {
      background-image: url('../img/LOGO_BlackmoreCoaching_RGB_FINAL.png');
      max-width: 350px;
      text-align: center;
      margin: auto;
      padding-top: 400px;
      padding-bottom: 30px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: contain;
    }
    .progress .back {
      position: absolute;
      background-color: #e7eeeb;
      width: calc(500px);
      height: calc(500px);
      top: 0px;
      left: 0px;
      border-radius: 50%;
    }
    .progress .back-centre {
      position: absolute;
      background-color: #fff;
      width: calc(500px - 6px);
      height: calc(500px - 6px);
      top: 3px;
      left: 3px;
      border-radius: 50%;
    }
    .intro-text {
      padding-top: 50px;
      padding-bottom: 10px;
      .intro-lead-in {
        background-image: none;
        font-size: 50px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 20px;
        @include serif-font;
      }
      h2.lead-heading-no-subheading{
        font-size: 45px;
        margin-top: 0;
        margin-bottom: 50px;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
