// Styling for the navbar
#mainNav {
  //background-color: $gray-400;
  //background-image: url('../img/text.svg'), url('../img/rings.svg');
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-dark {
    background-color: $dark-blue;
  }
  .navbar-brand {
    //background-image: url('../img/text.svg'), url('../img/rings.svg');
    //max-width: 300px;
    text-indent: -9999px;
    background-image: url('../img/text.svg'), url('../img/rings.svg');
    height: 200px;
    width: 200px;
    position: relative;
    left: 10px;
    top: 50px;
    -webkit-transition: position 2s; /* For Safari 3.1 to 6.0 */
    transition: position 2s;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
    //padding-left: 50px;
    //padding-top: 55px;
    //padding-bottom: 30px;
    //text-align: -1000px;
    //line-height: 1.20em;
    //background-color: red;
    //margin: auto;
    //padding-top: 40px;
    //padding-bottom: 30px;
    background-repeat: no-repeat;
    //background-attachment: scroll;
    background-position: center center;
    //background-size: 9%;
    //background-size: 100px;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: transparent;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        //text-transform: none !important;
        font-size: 98%;
        font-weight: 500;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $dark-blue;
        @include heading-font;
        &.active,
        &:hover {

          color: $mauve-3;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    //padding-top: 45px;
    max-height: 300px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    //background-image: url(../img/rings.svg);
    //background-repeat: no-repeat;
    //background-attachment: scroll;
    //background-position: 120px center;
    //background-size: contain;
    background-color: transparent;
    .navbar-brand {
      font-size: 2em;
      //text-align: -1000px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white;
      //height: 50px;
      //width: 100px;
      //position: relative;

      //
      //background-size: 200px;
      //background-position: 150px 55%;
      box-shadow: 0 1px 20px -3px $gray-600;
      .nabar-expand-lg {
        position: relative;
        top: 0px;
      }
      .navbar-brand {
        background-image: url('../img/text.svg'), url('../img/rings.svg');
        background-size: 150px;
        height: 60px;
        width: 200px;
        left: -20px;
        top: -5px;
        margin-top: 10px;
        font-size: 1.5em;
        padding: 10px;
      }
    }
  }
}
