// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$light-blue: rgb(245, 251, 253);
$mauve: #71464B;
$dark-blue: rgb(41, 62, 70);
$dark-600: rgb(151, 166, 172);
$dark-400: rgb(182, 204, 212);
$dark-green: #3C3A1D;
$light-green: #BBB764;
$bluy-grey: #8b9da8;

$mauve: #71464B;
$mauve-3: #BD757E;

$mauve-1: #892C36;
$mauve-2: #BD3D4C;

$primary: #c37a7f !default;

$strikethrough: #eccfd3;
