// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$light-blue: #5BA0BB;
$mauve: #71464B;
$dark-blue: #41626F;
$dark-green: #3C3A1D;
$light-green: #BBB764;

$mauve: #71464B;
$mauve-3: #BD757E;

$mauve-1: #892C36;
$mauve-2: #BD3D4C;

$primary: #bbb764 !default;
